<!DOCTYPE html>
<html>
<head>
  <title>Página de Autenticação</title>
</head>
<body>
  <h1>Bem-vindo!</h1>

  <!-- Formulário de login -->
  <form action="/login" method="POST">
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Entrar">
  </form>
  <!-- Fim do formulário de login -->

  <br>

  <!-- Formulário de registro -->
  <form action="/register" method="GET">
    <input type="submit" value="Registrar">
  </form>
  <!-- Fim do formulário de registro -->
</body>
</html>
