<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="align-items: center;justify-content: center;display: flex;">Trabalho Multimídia</h1>
    <div style="align-items: center;justify-content: center;display: flex">
        <video controls>
            <source src="media/video.mp4" type="video/mp4">
            <p>Seu navegador não suporta o elemento de vídeo.</p>
        </video>
    </div>
    <a href="index.html">Sair</a>
</body>
</html>