<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="align-items: center;justify-content: center;display: flex;">Trabalho Multimídia</h1>
    <!-- Cabeçalho com título -->
    
    <div style="align-items: center;justify-content: center;display: flex">
        <!-- Container para centralizar elementos -->

        <video controls>
            <source src="media/video.mp4" type="video/mp4">
            <!-- Configuração do vídeo e especificação do arquivo de origem -->
            
            <p>Seu navegador não suporta o elemento de vídeo.</p>
            <!-- Mensagem de fallback para navegadores que não suportam vídeo -->
        </video>
    </div>
    <!-- Divisão para centralizar o vídeo horizontalmente -->

    <div style="align-items: center;justify-content: center;display: flex">
        <!-- Container para centralizar elementos -->
        
        <a href="index.html">Sair</a>
        <!-- Link para a página inicial -->
    </div>
    <!-- Divisão para centralizar o link horizontalmente -->
</body>
</html>
